* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* khôi phục lại cỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* common thuộc tính áp dụng chung cho cả web side */
a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 0px 16px;
  color: #fff;
  text-align: center;
  min-width: 118px;
  line-height: 50px;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 24.5px;
  background: #171100;
}

.main-content {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}
/* header************************ */

.header {
  /* position: sticky; */
  background-color: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
}

.header .body {
  display: flex;
  align-items: center;
  /* overflow: auto; */
  padding: 47px 0 8px;
}

.nav ul {
  display: flex;
}

.nav {
  margin-left: auto;
}

.nav a {
  padding: 8px 21px;
  color: #5f5b53;
  font-size: 1.6rem;
  position: relative;
}

.header .action {
  margin-left: 49px;
  min-width: 114px;
}

.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}

/* .nav li.active a:hover {

} */

.nav li.active a::after {
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  background: #171100;
  border-radius: 1px;
  position: absolute;
  left: 21px;
  bottom: 6px;
}
